/**
 * Import core mixins, variables, or others
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 320px) {
  .fzTable {
    overflow: hidden;
    font-size: 20px;
    font-size: 7px;
    width: 100%; }
    .fzTable .gut_tag:after {
      border-width: 10px 10px 0 0; }
    .fzTable .col-1,
    .fzTable .col-2,
    .fzTable .col-3,
    .fzTable .col-4,
    .fzTable .col-5,
    .fzTable .col-6,
    .fzTable .col-7,
    .fzTable .col-8 {
      width: 12.49%;
      float: left;
      line-height: 4.5;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      border-left: 1px solid gray; }
    .fzTable .col-1 {
      background-color: #e9ecf1; }
      .fzTable .col-1 div:first-child {
        font-size: 10px; }
    .fzTable .col-8 {
      border-right: 1px solid gray; }
      .fzTable .col-8 div:first-child {
        border-right: 1px solid gray; }
    .fzTable .date-color {
      background-color: #f1f1f1;
      border-bottom: 1px solid gray; }
    .fzTable .gut_tag {
      position: relative; }
      .fzTable .gut_tag:after {
        display: block;
        left: 0%;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 0;
        border-color: orange transparent transparent transparent;
        content: ''; } }

@media screen and (min-width: 980px) {
  .fzTable {
    margin-left: 10%;
    font-size: 20px;
    font-size: 20px;
    margin-top: 5%;
    width: 100%; }
    .fzTable .gut_tag:after {
      border-width: 20px 20px 0 0; }
    .fzTable .col-1,
    .fzTable .col-2,
    .fzTable .col-3,
    .fzTable .col-4,
    .fzTable .col-5,
    .fzTable .col-6,
    .fzTable .col-7,
    .fzTable .col-8 {
      width: 10%;
      float: left;
      line-height: 4.5;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      border-left: 1px solid gray; }
    .fzTable .col-1 {
      background-color: #e9ecf1; }
    .fzTable .col-8 {
      border-right: 1px solid gray; }
      .fzTable .col-8 div:first-child {
        border-right: 1px solid gray; }
    .fzTable .data-color {
      background-color: #f1f1f1;
      border-bottom: 1px solid gray; } }
