<div class="frz_table clearfix">
  <div class="col-1 clearfix">
    <div class="col_head clearfix">
      <span>去程</span>
      <span>回程</span>
    </div>
    <div>12/27(三)</div>
    <div>12/28(四)</div>
    <div>12/29(五)</div>
    <div>12/30(六)</div>
    <div>12/31(日)</div>
    <div>01/1(一)</div>
    <div>01/2(二)</div>
  </div>
  <div class="slider clearfix">
    <div class="overflow clearfix">
      <div class="column col-2 clearfix">
        <div class="col_head">12/30(六)</div>
        <div class="date" data-forth='0' data-back='3'>4500</div>
        <div class="date" data-forth='1' data-back='3'>4500</div>
        <div class="date" data-forth='2' data-back='3'>4500</div>
        <div class="date" data-forth='3' data-back='3'>4500</div>
        <div class="date" data-forth='4' data-back='3'>4500</div>
        <div class="date" data-forth='5' data-back='3'>4500</div>
        <div class="date" data-forth='6' data-back='3'>4500</div>
      </div>
      <div class="column col-3 clearfix">
        <div class="col_head">12/31(日)</div>
        <div class="date" data-forth='0' data-back='4'>9045</div>
        <div class="date" data-forth='1' data-back='4'>9045</div>
        <div class="date" data-forth='2' data-back='4'>9045</div>
        <div class="date gut_tag" data-forth='3' data-back='4'>9045</div>
        <div class="date" data-forth='4' data-back='4'>9045</div>
        <div class="date" data-forth='5' data-back='4'>9045</div>
        <div class="date" data-forth='6' data-back='4'>9045</div>
      </div>
      <div class="column col-4 clearfix">
        <div class="col_head">01/1(一)</div>
        <div class="date" data-forth='0' data-back='5'>3200</div>
        <div class="date" data-forth='1' data-back='5'>3200</div>
        <div class="date" data-forth='2' data-back='5'>3200</div>
        <div class="date" data-forth='3' data-back='5'>3200</div>
        <div class="date" data-forth='4' data-back='5'>3200</div>
        <div class="date" data-forth='5' data-back='5'>3200</div>
        <div class="date" data-forth='6' data-back='5'>3200</div>
      </div>
      <div class="column col-5 clearfix">
        <div class="col_head">01/2(二)</div>
        <div class="date" data-forth='0' data-back='6'>3200</div>
        <div class="date" data-forth='1' data-back='6'>3200</div>
        <div class="date" data-forth='2' data-back='6'>3200</div>
        <div class="date" data-forth='3' data-back='6'>3200</div>
        <div class="date gut_tag" data-forth='4' data-back='6'>3200</div>
        <div class="date" data-forth='5' data-back='6'>3200</div>
        <div class="date" data-forth='6' data-back='6'>3200</div>
      </div>
      <div class="column col-6 clearfix">
        <div class="col_head">01/3(三)</div>
        <div class="date" data-forth='0' data-back='7'>1200</div>
        <div class="date" data-forth='1' data-back='7'>1200</div>
        <div class="date" data-forth='2' data-back='7'>1200</div>
        <div class="date" data-forth='3' data-back='7'>1200</div>
        <div class="date" data-forth='4' data-back='7'>1200</div>
        <div class="date" data-forth='5' data-back='7'>1200</div>
        <div class="date" data-forth='6' data-back='7'>1200</div>
      </div>
      <div class="column col-7 clearfix">
        <div class="col_head">01/4(四)</div>
        <div class="date" data-forth='0' data-back='8'>1200</div>
        <div class="date" data-forth='1' data-back='8'>1200</div>
        <div class="date gut_tag" data-forth='2' data-back='8'>1200</div>
        <div class="date" data-forth='3' data-back='8'>1200</div>
        <div class="date" data-forth='4' data-back='8'>1200</div>
        <div class="date" data-forth='5' data-back='8'>1200</div>
        <div class="date" data-forth='6' data-back='8'>1200</div>
      </div>
      <div class="column col-8 clearfix">
        <div class="col_head data-color1">01/5(五)</div>
        <div class="date" data-forth='0' data-back='9'>1200</div>
        <div class="date" data-forth='1' data-back='9'>1200</div>
        <div class="date" data-forth='2' data-back='9'>1200</div>
        <div class="date" data-forth='3' data-back='9'>1200</div>
        <div class="date" data-forth='4' data-back='9'>1200</div>
        <div class="date" data-forth='5' data-back='9'>1200</div>
        <div class="date" data-forth='6' data-back='9'>1200</div>
      </div>
    </div>
  </div>
  <div class="btn-left">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="btn-right">
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
