<div class="calendars">
  <!-- // 可加上這兩個修飾符來切換日曆模式或列表模式 calendars_daymode,calendars_listmode -->
  <div class="calendars_tabWrap">
    <div class="tabBox">
      <div class="pre btn">
        <i class="fas fa-caret-left"></i>
      </div>
      <span class="tab">
        2017 7月
      </span>
      <span class="tab">
        2017 8月
      </span>
      <span class="tab">
        2017 9月
      </span>
      <div class="next btn">
        <i class="fas fa-caret-right"></i>
      </div>
    </div>
  </div>
  <div class="calendars_weeksWrap">
    <span>星期日</span>
    <span>星期一</span>
    <span>星期二</span>
    <span>星期三</span>
    <span>星期四</span>
    <span>星期五</span>
    <span>星期六</span>
  </div>
  <ul class="calendars_daysWrap">
    <li class="calendars_days disabled"></li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status＿orange">額滿</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
      <span class="GuaranteedTripTag">保證出團</span>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status＿orange">額滿</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
      <span class="GuaranteedTripTag">保證出團</span>

    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date"></div>
      <div class="status"></div>
      <div class="sell"></div>
      <div class="group"></div>
      <div class="price"></div>
    </li>
    <li class="calendars_days hasData ">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
      <span class="GuaranteedTripTag">保證出團</span>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status_orange">額滿</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status_orange">額滿</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status_orange">額滿</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
    <li class="calendars_days hasData">
      <div class="date">1</div>
      <div class="status">候補</div>
      <div class="sell">可賣：0</div>
      <div class="group">團位：0</div>
      <div class="price">$4,999</div>
    </li>
  </ul>
</div>
