<!-- your code here -->
<!-- @model.Data -->

<div class="fzTable">
	<div class="row">
		<a>
			<span>去程</span>
			<span>回程</span>
		</a>
		<a>12/1(一)</a>
		<a>12/2(二)</a>
		<a>12/3(三)</a>
		<a>12/4(四)</a>
		<a>12/5(五)</a>
		<a>12/6(六)</a>
		<a>12/7(日)</a>
	</div>
	<div class="row">
		<a>12/4(四)</a>
		<a>2300</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2333</a>
		<a>900</a>
		<a>2130</a>
	</div>
	<div class="row">
		<a>12/5(五)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>9000</a>
		<a>1230</a>
	</div>
	<div class="row">
		<a>12/6(六)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>1230</a>
		<a>3500</a>
	</div>
	<div class="row">
		<a>12/7(日)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>1230</a>
		<a>3500</a>
	</div>
	<div class="row">
		<a>12/8(一)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>1230</a>
		<a>3500</a>
	</div>
	<div class="row">
		<a>12/9(二)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>1230</a>
		<a>3500</a>
	</div>
	<div class="row">
		<a>12/10(三)</a>
		<a>3900</a>
		<a>9000</a>
		<a>9390</a>
		<a>2300</a>
		<a>2300</a>
		<a>1230</a>
		<a>3500</a>
	</div>
</div>
