<!-- <div class="box">
	<div class="col-1">
		<div class="date-color">去程/回程</div>
		<div>12/1</div>
		<div>12/2</div>
		<div>12/3</div>
		<div>12/4</div>
		<div>12/5</div>
		<div>12/6</div>
		<div>12/7</div>
	</div>
	<div class="col-2">
		<div class="data-color">12/3</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-3">
		<div class="data-color">12/4</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-4">
		<div class="data-color">12/5</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-5">
		<div class="data-color">12/6</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-6">
		<div class="data-color">12/7</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-7">
		<div class="data-color">12/8</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
	<div class="col-8">
		<div class="data-color">12/9</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
		<div>col-1</div>
	</div>
</div> -->

<!-- your code here -->
<!-- @model.Data -->
