<div class="frz_Table clearfix">
  <div class="col-1 clearfix clearfix">
    <div class="date-color">去程</div>
    <div>12/1(一)</div>
    <div>12/2(二)</div>
    <div>12/3(三)</div>
    <div>12/4(四)</div>
    <div>12/5(五)</div>
    <div>12/6(六)</div>
    <div>12/7(七)</div>
  </div>
  <div class="col-2 clearfix">
    <div class="date-color">12/3(三)</div>
    <div>4500</div>
    <div>4500</div>
    <div>4500</div>
    <div>4500</div>
    <div>4500</div>
    <div>4500</div>
    <div>4500</div>
  </div>
  <div class="col-3 clearfix">
    <div class="date-color">12/4(四)</div>
    <div>9045</div>
    <div>9045</div>
    <div>9045</div>
    <div>9045</div>
    <div>9045</div>
    <div>9045</div>
    <div>9045</div>
  </div>
  <div class="col-4 clearfix">
    <div class="date-color">12/5(五)</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
  </div>
  <div class="col-5 clearfix">
    <div class="date-color">12/6(六)</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
    <div>3200</div>
  </div>
  <div class="col-6 clearfix">
    <div class="date-color">12/7(七)</div>
    <div>1200</div>
    <div class="gut_tag">1200</div>
    <div>1200</div>
    <div class="gut_tag">1200</div>
    <div>1200</div>
    <div>1200</div>
    <div>1200</div>
  </div>
  <div class="col-7 clearfix">
    <div class="date-color">12/8(八)</div>
    <div>1200</div>
    <div>1200</div>
    <div>1200</div>
    <div>1200</div>
    <div class="gut_tag">1200</div>
    <div>1200</div>
    <div>1200</div>
  </div>
  <div class="col-8 clearfix">
    <div class="date-color data-color1">12/9(九)</div>
    <div>1200</div>
    <div>1200</div>
    <div class="gut_tag">1200</div>
    <div>1200</div>
    <div>1200</div>
    <div>1200</div>
    <div>1200</div>
  </div>
</div>
<div class="btn-left">左邊</div>
<div class="btn-right"> 右邊 </div>
