<!-- your code here -->
<!-- @model.Data -->
<table class="fzTable">
	<tr>
		<td>
			<span>去程</span>
			<span>回程</span>
		</td>
		<th>12/1(一)</th>
		<th>12/2(二)</th>
		<th>12/3(三)</th>
		<th>12/4(四)</th>
		<th>12/5(五)</th>
		<th>12/6(六)</th>
		<th>12/7(日)</th>
	</tr>
	<tr>
		<td>12/3(三)</td>
		<td>2344</td>
		<td>2344</td>
		<td>1234</td>
		<td>9044</td>
		<td>9056</td>
		<td>5400</td>
		<td>9056</td>
	</tr>
	<tr>
		<td>12/4(四)</td>
		<td>9056</td>
		<td>2356</td>
		<td>5400</td>
		<td>9056</td>
		<td>9077</td>
		<td>900</td>
		<td>1000</td>
	</tr>
	<tr>
		<td>12/5(五)</td>
		<td>5400</td>
		<td>9056</td>
		<td>5633</td>
		<td>9087</td>
		<td>2344</td>
		<td>8700</td>
		<td>2142</td>
	</tr>
	<tr>
		<td>12/6(六)</td>
		<td>5400</td>
		<td>9056</td>
		<td>3500</td>
		<td>5780</td>
		<td>7800</td>
		<td>9000</td>
		<td>3890</td>
	</tr>
	<tr>
		<td>12/7(日)</td>
		<td>5400</td>
		<td>9056</td>
		<td>5900</td>
		<td>5780</td>
		<td>7800</td>
		<td>9000</td>
		<td>3890</td>
	</tr>
	<tr>
		<td>12/8(八)</td>
		<td>5400</td>
		<td>9056</td>
		<td>5900</td>
		<td>5780</td>
		<td>7800</td>
		<td>9000</td>
		<td>3890</td>
	</tr>
	<tr>
		<td>12/9(九)</td>
		<td>5400</td>
		<td>9056</td>
		<td>5900</td>
		<td>5780</td>
		<td>7800</td>
		<td>9000</td>
		<td>3890</td>
	</tr>
	<tr>
		<td>12/10(十)</td>
		<td>5400</td>
		<td>9056</td>
		<td>5900</td>
		<td>5780</td>
		<td>7800</td>
		<td>9000</td>
		<td>3890</td>
	</tr>
</table>
